.Main__title{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)
    ), url('https://files.slack.com/files-pri/T7E7HQJUF-FP5U46NDV/rana-sawalha-w_-6pwgbyau-unsplash.jpg');
    background-size:cover;
    margin: 0rem!important;
    padding: 10rem!important;
}
.Nav__logo{

    animation:10s linear  rotate;
    animation-iteration-count:infinite;

}
@keyframes rotate{
    from{
           
    }
    
       
    to{ transform: rotate(1440deg);
           
    }
        
}